html, body {
  width: 100%;
  height: 100%;
}
#app{
  display: flex;
  height: 100%;
  width: 100%;
  align-items:center;
  justify-content: center;
  background-color: #03a9f4;
}

.mu-card{
  width: 520px;
}
.title{
  font-size: 24px;
  color: #e91e63;
  line-height: 36px;
  margin-left: 20px;
  margin-top: 8px;
}

.ivu-card-head p{
  height: 25px;
}
.ivu-switch{
  border: 1px solid #2d8cf0;
  background-color: #2d8cf0;
}
.ivu-input-group {
  margin-bottom: 9px;
}
