<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#e0f7fa">
  <meta name="baidu-site-verification" content="I4En6jbnXe" />
  <meta name="shenma-site-verification" content="b0e852576769d0d56a442bfd6227644e_1525273298"/>
  <link rel="stylesheet" href="css/muse-ui.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
  <link rel="stylesheet" href="css/style18_9_27.css"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <style media="screen">
    #seacing_bar{
      overflow: hidden;
    }
    footer{
      height: 100px;
      /* margin-top: 20px; */
      background-color: #2f2f29;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    input::-ms-clear, input::-ms-reveal{display: none;}
  </style>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?6c5734bf016da7336eb2b4036a8bf324";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <title>GY导航</title>
</head>
<body>
  <div id="allsite" @click="hidesug('all')">
    <header class="nav-header">
      <div class="gy-nav-header" v-bind:class="{'gy-shadow-2': scrolled,'gy-hoverable': flag!='phone'}">
        <!-- 搜索框 -->
        <div class="sear_wrap" @click.stop="" :style="{'border-color': Marchinelist[searchEngineindex].color,'border-width':border_width+'px'}">
          <div class="sear_marchine" @click="changeMarchine()">
            <mu-icon value="expand_more" size="15"></mu-icon>
            <mu-expand-transition>
              <ul class="sug" id="sear_marchine_select" v-show="isShowSelect">
                <a v-for="(marchinelist,index) in Marchinelist" @click="selectMarchine(index)" :class="{selected:searchEngineindex==index}" class="sug_list">{{marchinelist.Marchine_name}}</a>
              </ul>
            </mu-expand-transition>
          </div>
          <div id="seacing_bar">
            <input type="text" id="input_bar" placeholder="搜你所想" v-model="keyword" @keyup.enter.prevent="baiduyixia" @keydown.down.prevent="selectDown" @keydown.up.prevent="selectUp" ref="input_area" autocomplete="off" @click="hidesug()" @input="requestData">
            <div style="display:  flex;align-items:  center;" v-if="keyword" @click="cleanKeyword()">
              <mu-icon value="cancel" size="15"></mu-icon>
            </div>
          </div>
          <div class="gy-button" id="seaching" @click="baiduyixia()" :style="{'background-color': Marchinelist[searchEngineindex].color}">{{button_value}}</div>
          <ul class="sug" v-show="isShow" ref="sug">
            <a v-for="(value,index) in myData" v-show="index!=0" :class="{selected:index==sel_index}" v-bind:href="[searApi+value+searApi_weizui]" target="_blank" class="sug_plus"><div class="sugindex" :style="{'background-color': (index>3) ? '#afaea0' : '#3b4042'}">{{index}}</div>{{value}}</a>
          </ul>
        </div>
      </div>
    </header>

    <div class="gy-container gy-shadow-2" id="first_container">
      <div class="title" id="">常用站点</div>
      <div class="gy-divider gy-divider-coustom"></div>
      <mu-row>
        <div  v-for="sitelist in comsitelist" class="gy-cell">
          <li class="site gy-hoverable">
            <a v-bind:href="sitelist.url" target="_blank">
              <div>
                <img v-bind:src="sitelist.icon" class="site-icon">
              </div>
              <span class="site-title">{{sitelist.site_name}}</span>
            </a>
          </li>
        </div>
      </mu-row>
    </div>

      <div class="gy-container-full">
        <mu-row gutter justify-content="center">
          <mu-col span="12" sm="6" lg="4" v-for="(category,category_index) in categorylist">
            <div class="site-card gy-shadow-2">
              <div class="title" v-if="~edit">{{category.categoryname}}</div>
              <div style="margin-bottom: -28px;" v-else>
                <mu-text-field v-model="category.categoryname" placeholder="输入分区名" style="max-width: 50%;"></mu-text-field>
                <mu-button color="error" small @click="deleteCate(category_index)">删除分区</mu-button>
                <mu-button fab small color="red" @click="category.isAdd = !category.isAdd" style="width: 30px;height: 30px;bottom:-3px;margin-left:15px;">
                  <mu-icon value="add"></mu-icon>
                </mu-button>
              </div>
              <div class="gy-divider"></div>
              <div class="gy-list">
                <li v-for="(sitelist,index) in category.sitelist" class="site-noicon gy-hoverable">
                  <div class="delete-button" v-show="edit" @click="deleteItem(category_index,index)">
                      <mu-icon value="clear" color="#ffffff" size="10"></mu-icon>
                  </div>
                  <a v-bind:href="sitelist.url" target="_blank">{{sitelist.site_name}}</a>
                </li>
              </div>
              <mu-expand-transition>
                <div class="add-form" v-if="category.isAdd&&edit">
                  <mu-text-field v-model="inputSitename" placeholder="输入网站名" style="width:60%;"></mu-text-field>
                  <mu-text-field v-model="inputUrl" placeholder="输入网址" style="width:60%;"></mu-text-field>
                  <mu-button round color="success" @click="addItem(category_index)" :disabled="(inputSitename == '')||(inputUrl == '')">添加</mu-button>
                </div>
              </mu-expand-transition>
            </div>
          </mu-col>
          <mu-col span="12" sm="6" lg="4" v-show="edit">
            <div class="site-card gy-shadow-2" style="height: 120px;">
              <div class="site-card-last">
                <mu-button fab small color="blue" @click="addCate" style="width: 30px;height: 30px;">
                  <mu-icon value="add"></mu-icon>
                </mu-button>
              </div>
            </div>
          </mu-col>
        </mu-row>
      </div>
      <mu-tooltip placement="top" :content="username">
        <mu-button fab class="floatButton-wrap floatButton" href="login.html" :style="{'background-color': Marchinelist[searchEngineindex].color,bottom: '77px',width:'30px',height:'30px'}">
          <mu-avatar style="background-color: rgba(255, 255, 255, 0);" size="20">
            {{username[0]}}
          </mu-avatar>
        </mu-button>
      </mu-tooltip>
      <mu-button fab @click="editMode()"  class="floatButton-wrap floatButton" :style="{'background-color': Marchinelist[searchEngineindex].color,width:'30px',height:'30px'}">
        <mu-icon size="15" value="settings" color="#ffffff" v-if="~edit"></mu-icon>
        <mu-icon size="15" value="check" color="#ffffff" v-else></mu-icon>
      </mu-button>
      <div class="footer gy-shadow-2">
          友情链接:
        <div class="gy-list" style="padding:  0;">
          <li v-for="(sitelist,index) in friendlink" class="site-noicon gy-hoverable" style="padding: 2px 5px;">
            <a v-bind:href="sitelist.url" target="_blank">{{sitelist.site_name}}</a>
          </li>
        </div>
      </div>
      <footer>
        <div class="about">
          <div>BY <a href="http://weibo.com/ailuoku6" target="_blank">@爱咯酷6</a> | 论坛: <a href="http://bbs.ailuoku6.top" target="_blank"><img src="img/bbs.png"></a></div>
          <div>网站备案号:桂ICP备18003700号</div>
        </div>
      </footer>
      <mu-snackbar position="bottom" :open="bar_open">
        操作成功!
        <mu-button flat slot="action" color="secondary" @click="cancelDelete">撤销</mu-button>
      </mu-snackbar>
  </div>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
  <script src="js/muse-ui.js"></script>
  <script src="js/index18_10_2.js?2018102"></script>
  <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
  </script>
</body>
</html>
