<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="theme-color" content="#e0f7fa">
  <meta name="baidu-site-verification" content="I4En6jbnXe" />
  <meta name="shenma-site-verification" content="b0e852576769d0d56a442bfd6227644e_1525273298"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/iview/2.13.1/styles/iview.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iview/2.13.1/iview.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
  <link rel="stylesheet" href="css/style18_6_28.css"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <style media="screen">
    #seacing_bar{
      overflow: hidden;
    }
    footer{
      height: 100px;
      /* margin-top: 20px; */
      background-color: #2f2f29;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  </style>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?6c5734bf016da7336eb2b4036a8bf324";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <title>GY导航</title>
</head>
<body>
  <div id="allsite" @click="hidesug('all')">
    <header class="nav-header">
      <div class="gy-nav-header" v-bind:class="{'gy-shadow-2': scrolled,'gy-hoverable': flag!='phone'}">
        <!-- 搜索框 -->
        <div class="sear_wrap" @click.stop="" :style="{'border-color': Marchinelist[searchEngineindex].color,'border-width':border_width+'px'}">
          <div class="sear_marchine" @click="changeMarchine()">
            <Icon type="arrow-down-b"></Icon>
            <transition name="fade">
              <ul class="sug" id="sear_marchine_select" v-show="isShowSelect">
                <a v-for="(marchinelist,index) in Marchinelist" @click="selectMarchine(index)" :class="{selected:searchEngineindex==index}">{{marchinelist.Marchine_name}}</a>
              </ul>
            </transition>
          </div>
          <div id="seacing_bar">
            <input type="text" id="input_bar" placeholder="搜你所想" v-model="keyword" @keyup.enter.prevent="baiduyixia" @keydown.down.prevent="selectDown" @keydown.up.prevent="selectUp" ref="input_area" autocomplete="off" @click="hidesug()" @input="requestData">
            <div style="display:  flex;align-items:  center;" v-if="keyword" @click="cleanKeyword()">
              <Icon type="close-circled"></Icon>
            </div>
          </div>
          <div class="gy-button" id="seaching" @click="baiduyixia()" :style="{'background-color': Marchinelist[searchEngineindex].color}">{{button_value}}</div>
          <ul class="sug" v-show="isShow" ref="sug">
            <a v-for="(value,index) in myData" v-show="index!=0" :class="{selected:index==sel_index}" v-bind:href="[searApi+value+searApi_weizui]" target="_blank"><div class="sugindex" :style="{'background-color': (index>3) ? '#afaea0' : '#3b4042'}">{{index}}</div>{{value}}</a>
          </ul>
        </div>
      </div>
    </header>

    <div class="gy-container gy-shadow-2" id="first_container">
      <div class="title" id="">常用站点</div>
      <div class="gy-divider gy-divider-coustom"></div>
      <Row type="flex" justify="space-around" class="code-row-bg">
        <i-col v-for="sitelist in comsitelist" :xs="8" :md="2" class="gy-cell">
          <li class="site gy-hoverable">
            <a v-bind:href="sitelist.url" target="_blank">
              <div>
                <img v-bind:src="sitelist.icon" class="site-icon">
              </div>
              <span class="site-title">{{sitelist.site_name}}</span>
            </a>
          </li>
        </i-col>
      </Row>
    </div>

      <div class="gy-container-full">
        <Row :gutter="16" type="flex" justify="center" align="top">

          <i-col v-for="(category,category_index) in categorylist" :xs="24" :sm="12" :md="8">
            <div class="site-card gy-shadow-2">
              <div class="title" v-if="~edit">{{category.categoryname}}</div>
              <div v-else>
                <i-input v-model="category.categoryname" placeholder="输入分区名"></i-input>
                <i-button type="error" size="small" @click="deleteCate(category_index)">删除分区</i-button>
                <!-- <Icon type="plus-circled" size="25" color="#ff0000" class="add-button"@click="isAdd = !isAdd"></Icon> -->
                <i-button type="primary" size="small" shape="circle" icon="plus-round" class="add-button" @click="category.isAdd = !category.isAdd"></i-button>
              </div>
              <div class="gy-divider"></div>
              <div class="gy-list">
                <li v-for="(sitelist,index) in category.sitelist" class="site-noicon gy-hoverable">
                  <div class="delete-button" v-show="edit" @click="deleteItem(category_index,index)">
                      <Icon type="close-round" size="10" color="#ffffff"></Icon>
                  </div>
                  <a v-bind:href="sitelist.url" target="_blank">{{sitelist.site_name}}</a>
                </li>
                <!-- <li v-for="sitelist in category.sitelist" class="site-noicon gy-hoverable"><a v-bind:href="sitelist.url" target="_blank">{{sitelist.site_name}}</a></li> -->
              </div>
              <transition name="bounce">
                <div class="add-form" v-if="category.isAdd&&edit">
                  <i-input placeholder="输入网站名" v-model="inputSitename"></i-input>
                  <i-input placeholder="输入网址" v-model="inputUrl"></i-input>
                  <i-button type="primary" shape="circle" @click="addItem(category_index)" :disabled="(inputSitename == '')||(inputUrl == '')">添加</i-button>
                </div>
              </transition>
            </div>
          </i-col>
          <i-col :xs="24" :sm="12" :md="8" v-show="edit">
            <div class="site-card gy-shadow-2"style="height: 120px;">
              <div class="site-card-last"><i-button type="primary" size="large" shape="circle" icon="plus-round" @click="addCate"></i-button></div>
            </div>
          </i-col>
        </Row>
      </div>

      <a href="login.html" class="floatButton-wrap floatButton" style="bottom: 77px;">
        <Avatar :style="{background: Marchinelist[searchEngineindex].color}">{{username}}</Avatar>
      </a>

      <div @click="editMode()" class="floatButton-wrap floatButton" :style="{'background-color': Marchinelist[searchEngineindex].color}">
        <Icon type="ios-gear" size="25" color="#ffffff" v-if="~edit"></Icon>
        <Icon type="checkmark-round" size="25" color="#ffffff" v-else></Icon>
      </div>

      <!-- <Modal
        title="更新日志"
        v-model="modal"
        class-name="vertical-center-modal">
        <p class="time">2018.3.11</p><p class="upitem">1.增加切换搜索引擎功能，你选择的搜索引擎记录在本地，如不能记录，请升级浏览器！</p>
        <p class="upitem">2.搜索框输入网址可直接跳转，而不是搜索.(测试阶段)</p>
        <p class="time">2018.3.12</p><p class="upitem">添加一些过渡动画,加入知乎搜索,百度文库搜索,csdn搜索</p>
        <p class="time">2018.3.16</p><p class="upitem">修复了一个在edge浏览器上的bug</p>
        <p class="time">2018.4.26</p><p class="upitem">重大消息！本站已备案成功！已迁回国内服务器，并加入用户自定义功能！用户登录后可在多个设备同步自己的自定义数据！我们的数据库经过单向加密，不用担心数据被泄露，甚至本站开发者自己也不能查看！</p>
        <p class="time">2018.5.17</p><p class="upitem">正在上体育课,网站突然挂了,已修复</p><p class="upitem">优化搜索提示框逻辑</p>
        <p class="time upitem">老用户如果遇到不能登陆的情况,请尝试清除浏览器缓存!</p>
      </Modal> -->
      <div class="footer site-card  gy-shadow-2">
          友情链接:
        <div class="gy-list" style="padding:  0;">
          <li v-for="(sitelist,index) in friendlink" class="site-noicon gy-hoverable" style="padding: 2px 5px;">
            <a v-bind:href="sitelist.url" target="_blank">{{sitelist.site_name}}</a>
          </li>
        </div>
      </div>
      <footer>
        <div class="about">
          <div>BY <a href="http://weibo.com/ailuoku6" target="_blank">@爱咯酷6</a> | 论坛: <a href="http://bbs.ailuoku6.top" target="_blank"><img src="img/bbs.png"></a></div>
          <div>网站备案号:桂ICP备18003700号</div>
        </div>
      </footer>
  </div>
</body>
<script src="js/index18_7_8.js"></script>
<script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
</script>
</html>
