.headBar{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 70px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #fff;
    z-index: 100;
}


.headBarHoverbel:hover{
    -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.headBarHoverbel{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.4,0,.2,1);
    transition: -webkit-box-shadow .25s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .25s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .25s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .25s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;
}

.gy-shadow-2 {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.sear_wrap {
    text-align: center;
    border: .5px solid #3f51b5;
    outline: 0;
    background-color: #fff;
}

.sear_marchine {
    display: inline-block;
    margin-left: 3px;
    margin-right: 0;
}

.selected {
    background-color: #74b3b2;
    color: #fff;
}

.sugindex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    background-color: #3b4042;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 5px;
    color: #fff;
}

#sear_marchine_select {
    margin-left: -4px;
    margin-top: 9px;
    width: 70px;
}

.sug {
    width: 50%;
    position: absolute;
    background-color: #fafafa;
    -webkit-box-shadow: 0 2px 6px 0 rgba(63,81,181,.5);
    box-shadow: 0 2px 6px 0 rgba(63,81,181,.5);
    margin: 0;
    padding: 0;
    border-radius: 6px;
}

.sug a {
    /*width: 100%;*/
    height: 25px;
    line-height: 25px;
    text-align: left;
    padding-left: 6px;
    font-size: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.sug a:hover {
    background-color: #828593;
    color: #fff;
}

.sug a:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.sug a:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#seacing_bar {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 120px;
    height: 32px;
    margin-bottom: -12.5px;
    overflow: hidden;
}

#input_bar{
    padding: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 14px;
}

#seaching {
    border-radius: 0;
}

.gy-button {
    position: relative;
    display: inline-block;
    width: 88px;
    height: 36px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .04em;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    border: none;
    border-radius: 2px;
    outline: 0;
    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    transition: all .2s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    transition: all .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,1,1);
    transition: all .2s cubic-bezier(.4,0,.2,1),box-shadow .2s cubic-bezier(.4,0,1,1),-webkit-box-shadow .2s cubic-bezier(.4,0,1,1);
    will-change: box-shadow;
    -webkit-user-drag: none;
    color: #fff;
    background-color: #3f51b5;
}

.gy-button:hover {
    opacity: .87;
}

@media screen and (min-width:320px){
    #seacing_bar{
        width: 160px;
    }
}
@media screen and (min-width:375px){
    #seacing_bar{
        width: 212px;
    }
}
@media screen and (min-width:425px){
    #seacing_bar{
        width: 268px;
    }
}

@media screen and (min-width:600px){
    #seacing_bar{
        width: 319px;
    }
}

@media screen and (min-width: 768px){
    .headBar {
        height: 90px;
    }
    #seacing_bar{
        width: 500px;
    }
}
@media screen and (min-width:960px){
    #seacing_bar{
        width: 470px;
    }
}
@media screen and (min-width:1024px){
    .headBar{
        height: 110px;
    }
    #seacing_bar{
        width: 500px;
    }
}

@media screen and (min-width:1200px){
    #seacing_bar{
        width: 680px;
    }
}
@media screen and (min-width:1440px){
    #seacing_bar{
        width: 680px;
    }
}
@media screen and (min-width:1920px){
    #seacing_bar{
        width: 850px;
    }
}
