footer {
  height: 100px;
  background-color: #2f2f29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.about {
  color: #fff;
  text-align: center;
}
.about div a img {
  height: 32px;
  margin-bottom: -10px;
}
a {
  text-decoration: none;
}
.beian a:hover {
  text-decoration: underline;
}

/* .beian:hover a{
    text-decoration: underline;
} */
